*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
 flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.card{
  width: 300px;
  height: 500px;
  background-color: #4c2727;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  padding: 20px; 
  /* flex-wrap: wrap;     */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
  
}

button{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;

} 