*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body{
  height: 100%;
  width: 100%;
}   

.card{
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}