*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center; 
  gap: 3rem; 
} 

.parentdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem; 
} 

.card{
  /* width: 300px;
  height: 200px; */
  min-width: 300px;
  min-height: 200px;
  gap: 1rem;
  background-color: #d4d4d4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3rem;

}

.card .topcard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

} 
.topcard button{
  padding: 10px 20px;
  background-color: #6293c8;
  color: rgb(31, 14, 14);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.card .topcard img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
} 
.centerdiv{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
}
.centerdiv button{
  padding: 10px 20px;
  background-color: #007bff;  

}
.centerdiv div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.centerdiv div span{
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px; 
}
.bottomdiv{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  flex-direction: row;
  align-items: center; */
  gap: 1rem;
}
.bottomdiv button{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

