*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{

  height: 100vh;
  width: 100vw;
  background: #000;
  color: aliceblue;
}

button{
  height: 5vh;
  width: 10vw;
}

.box1{
  height:50vh ;
  width: 50vw;
  background: yellow;
}